<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/user.css">
    <style>
        h3 {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="main-content" id="main-content-vehicle-list">
    <div class="container-fluid">
        <div class="panel">
            <h3>Error in request, cannot find page you are looking for.</h3>
        </div>
    </div>
</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
</body>
</html>