<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="card">
        <div class="panel-heading">
            <button class="btn btn-success" id="newBtn" onclick="loadCreateModal()" name="New" value="New">New</button>
        </div>
        <div class="panel-heading">

            <form action="search-user" id="search-box" method="post">
                <select id="search-filter" style="float: left;">
                    <option value="lastName" selected="selected">Search By LastName</option>
                    <option value="licensePlateId">Search By License Plate</option>
                </select>
                <input type="text" class="form-control" id="searchValue" name="searchValue" value="" style="width: 50%; float: left;"/>
                <button class="btn btn-primary" id="searchBtn" name="Search" value="Search">Search</button>
            </form>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="user-table">
                <thead>
                <tr>
                    <th>Phone Number</th>
                    <th>Money</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Vehicle Number</th>
                    <th>License Plate</th>
                    <th>Vehicle Type</th>
                    <th colspan="3" style="text-align: center;">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-pills" id="pagination">
</div>

<div class="myForm">
    <form action="save-user" id="save-user-form" method="GET">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Update Or Create User</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<div class="form-group">-->
                        <!--<label for="id" class="col-form-label">ID:</label>-->
                        <input type="hidden" class="form-control" id="id" name="id" value=""/>
                        <!--</div>-->
                        <div class="form-group">
                            <label for="phoneNumber" class="col-form-label">PhoneNumber:</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="col-form-label">FirstName:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label">FirstName:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vehicleNumber" class="col-form-label">VehicleNumber:</label>
                            <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="licensePlateId" class="col-form-label">LicensePlateId:</label>
                            <input type="text" class="form-control" id="licensePlateId" name="licensePlateId" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vehicleTypeName" class="col-form-label">VehicleType:</label>
                            <input type="text" class="form-control" id="vehicleTypeName" name="vehicleTypeName"
                                   value=""/>
                            <input type="hidden" class="form-control" id="vehicleTypeId" name="vehicleTypeId" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<form action="delete-user" id="delete-form" method="post">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="id" name="id" value=""/>
                    <p class="alert alert-danger">
                        Are you sure you want to delete this user ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Delete">
                    <!--<button class="btn btn-danger" onclick="submitDeleteUserForm()" id="deleteRef">Delete</button>-->
                    <!--<a href="" onclick="submitDeleteUserForm()" class="btn btn-danger" id="deleteRef">Delete</a>-->
                </div>
            </div>
        </div>
    </div>
</form>
<div class="user-form">
    <form action="create-user" id="create-user-form" method="post">
        <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Create User</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<div class="form-group">-->
                        <!--<label for="id" class="col-form-label">ID:</label>-->
                        <!--<input type="text" class="form-control" id="id" name="id" value=""/>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="phoneNumber" class="col-form-label">PhoneNumber:</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="password" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="col-form-label">FirstName:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label">FirstName:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vehicleNumber" class="col-form-label">VehicleNumber:</label>
                            <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="licensePlateId" class="col-form-label">LicensePlateId:</label>
                            <input type="text" class="form-control" id="licensePlateId" name="licensePlateId" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vehicleTypeId" class="col-form-label">VehicleType:</label>
                            <select class="form-control" id="vehicle-list">

                            </select>

                            <!--<input type="text" class="form-control" id="vehicleTypeName" name="vehicleTypeName"-->
                            <!--value=""/>-->
                            <input type="hidden" class="form-control" id="vehicleTypeId" name="vehicleTypeId" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bd-example-modal-lg" id="show-userID-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="user-hashed-id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UserID for NFC</h5>
            </div>
            <div class="modal-body">
                <p>
                    <strong class="hashed-id"></strong>
                </p>
            </div>

        </div>
    </div>
</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/user-management.js"></script>

</body>
</html>