<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #vrPage {
            width: 99%;
            padding: 0 10px 10px 10px;
            height: 90%;
            position: absolute;
            box-sizing: border-box;
            display: block;
        }
    </style>
</head>
<body>
<iframe src="http://www.vr.org.vn/ptpublic_web/ThongTinPTPublic.aspx" id="vrPage" scrolling="none"
        frameborder="0">

</iframe>
<div id="vrContent">

</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/verify-vehicle.js"></script>
</body>
</html>