<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/css/order.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"
                                      class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                </div>
            </form>
            <div class="navbar-btn navbar-btn-right">
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space
                                is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9
                                unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report
                                is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting
                                in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request
                                has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
                                                                                        class="img-circle" alt="Avatar">
                            <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li><a href="/user/get-user" class=""><i class="lnr lnr-code"></i> <span>Users</span></a></li>
                    <li><a href="/user/get-user" class=""><i class="lnr lnr-code"></i> <span>Meters</span></a></li>
                    <li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
                    <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
                    <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                    <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i>
                        <span>Notifications</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                            <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="page-profile.html" class="">Profile</a></li>
                                <li><a href="page-login.html" class="">Login</a></li>
                                <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                    <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i>
                        <span>Typography</span></a></li>
                    <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-headline">
                    <div class="" style="background: #blue; height: auto; width: 100%; float: left;">
                        <form action="search-user" id="search-box" method="post" style="height:100%; width: 100%;">
                            <select id="search-filter" style="float: left; height: 100%">
                                <option value="locationId" selected="selected">Search By Location</option>
                                <option value="orderStatusId">Search By Status</option>
                            </select><br/>
                            <input type="text" class="form-control" id="searchValue" name="searchValue" value=""
                                   style="width: 50%; float: left;"/><br/>

                        </form>
                        <button class="search-button" id="searchBtn" name="Search" value="Go">Go</button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table class="table table-hover" id="order-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CheckIn Date</th>
                                    <th>CheckOut Date</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>LastName</th>
                                    <th>Phone</th>
                                    <th>Duration</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="row">
                                <ul class="nav nav-pills" id="pagination"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="myForm">
    <div class="modal fade" id="OrderDetailModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>Update User</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="width:45%; float: left; margin-right: 2%;">
                        <label for="lastName" class="col-form-label">UserName:</label>
                        <p class="form-control" id="lastName"></p>
                </div>
                <div class="form-group" style="width: 45%; float: left; margin-left: 2%;">
                        <label for="phoneNumber" class="col-form-label">PhoneNumber:</label>
                    <p class="form-control" id="phoneNumber"></p>

            </div>
            <div class="form-group">
                <!--<label for="location" class="col-form-label">Location:</label>-->
                <!--<input type="text" class="form-control" id="location" name="location" value=""/>-->
                <label class="col-form-label">Location:</label>
                <!--<div class="col-sm-10">-->
                    <p class="form-control" id="location"></p>
                <!--</div>-->
            </div>
            <div class="form-group" style="width:45%; float: left; margin-right: 2%;">
                <label for="allowedParkingFrom" class="col-form-label">Allowed Parking From:</label>
                <p class="form-control" id="allowedParkingFrom"></p>
            </div>
            <div class="form-group" style="width: 45%; float: left; margin-left: 2%;">
                <label for="allowedParkingTo" class="col-form-label">Allowed Parking To:</label>
                <p class="form-control" id="allowedParkingTo"></p>
            </div>
            <div class="form-group" style="width:45%; float: left; margin-right: 2%;">
                <label for="checkInDate" class="col-form-label">CheckIn Date:</label>
                <p class="form-control" id="checkInDate"></p>
            </div>
            <div class="form-group" style="width: 45%; float: left; margin-left: 2%;">
                <label for="checkOutDate" class="col-form-label">CheckOut Date:</label>
                <p class="form-control" id="checkOutDate"></p>
            </div>
            <div class="form-group">
                <label for="orderPricings" class="col-form-label">Pricings:</label>
                <table id="orderPricings" class="table table-hover">
                    <thead>
                    <tr>
                        <th>From Hour:</th>
                        <th>Price Per Hour</th>
                        <th>Late Fee Per Hour</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="form-group" style="width:45%; float: left; margin-right: 2%;">
                <label for="duration" class="col-form-label">Duration:</label>
                <p class="form-control" id="duration"></p>
            </div>
            <div class="form-group" style="width:45%; float: left; margin-left: 2%;">
                <label for="total" class="col-form-label">Total:</label>
                <p class="form-control" id="total"></p>
            </div>
            <div class="form-group">
                <label for="vehicleTypeId" class="col-form-label">Vehicle Type:</label>
                <p class="form-control" id="vehicleTypeId"></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
            </button>
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/order-management.js"></script>
<script src="/assets/scripts/klorofil-common.js"></script>
</body>
</html>