<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?fsamily=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>
<body>
<div class="main-content">
    <div class="container-fluid">
        <div class="panel panel-headline">
            <div class="panel-body">
                <table class="table table-hover" id="policies-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Allowed Parking From</th>
                        <th>Allowed Parking To</th>
                        <th>Vehicle Allowed</th>
                        <th>Location</th>
                        <th colspan="2"> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="row">
                    <ul class="nav nav-pills" id="pagination"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/policies.js"></script>
<script src="/assets/scripts/klorofil-common.js"></script>
</body>
</html>