<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="main-content" id="main-content-vehicle-list">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-headline">
                <!--<form action="search-user" id="search-box" method="post">-->
                    <!--<select id="search-filter" style="float: left;">-->
                        <!--<option value="lastName" selected="selected">Search By LastName</option>-->
                        <!--<option value="licensePlateId">Search By License Plate</option>-->
                    <!--</select>-->
                    <!--<input type="text" class="form-control" id="searchValue" name="searchValue" value=""-->
                           <!--style="width: 50%; float: left;"/>-->
                    <!--<button class="btn btn-primary" id="searchBtn" name="Search" value="Search">Search</button>-->
                <!--</form>-->
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-hover" id="user-table">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Vehicle Number</th>
                            <th>License Plate</th>
                            <th>Vehicle Type</th>
                            <th>Brand</th>
                            <th>Size</th>
                            <th>Expire Date</th>
                            <th>Owner phone number</th>
                            <th colspan="3" style="text-align: center;">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <ul class="nav nav-pills" id="pagination"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" id="main-content-verify-form" style="display: none">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form id="verify-vehicle-form" method="post">
                    <div class="form-group">
                        <label for="vehicleNumberShow" class="col-form-label">Vehicle Number:</label>
                        <input type="text" class="form-control" id="vehicleNumberShow"
                               disabled
                               value=""/>
                        <input type="hidden" class="form-control" id="vehicleNumber" name="vehicleNumber"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label for="licenseIdShow" class="col-form-label">License Id:</label>
                        <input type="text" class="form-control" id="licenseIdShow"
                               disabled
                               value=""/>
                        <input type="hidden" class="form-control" id="licenseId" name="licensePlateId"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label for="brand" class="col-form-label">Brand:</label>
                        <input type="text" class="form-control" id="brand" name="brand"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label for="size" class="col-form-label">Size:</label>
                        <input type="text" class="form-control" id="size" name="size" value=""/>
                    </div>
                    <div class="form-group">
                        <label for="expireDate" class="col-form-label">Expire Date:</label>
                        <!--<input type="date" class="form-control" id="expireDateShow" onchange="setLongFromExpireDate()"-->
                        <!--value=""/>-->
                        <input id="datepicker" data-date-format="dd/mm/yyyy" class="form-control" onchange="setLongFromExpireDate()">
                        <input type="hidden" class="form-control" id="expireDate" name="expireDate"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label for="vehicleTypeId" class="col-form-label">VehicleType:</label>
                        <select class="form-control" id="vehicle-list">

                        </select>
                        <input type="hidden" class="form-control" id="vehicleTypeId"
                               name="vehicleTypeId" value=""/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" onclick="closeForm()">Close
                        </button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="/js/vehicle-management.js"></script>
</body>
</html>