<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swomfire.vehicleNFCUser">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_reverse"
        android:label="Đỗ xe với NFC"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".NFCActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUpMenuTheme" />
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTopUpExtras"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUpTheme" />

        <service android:name="service.CustomFBMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowPopupPrice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity"></activity>
    </application>

</manifest>